
@{
    ViewData["Title"] = "Processing";
    Layout = "~/Views/Shared/_Layoutms.cshtml";
}

@*@using Microsoft.Extensions.Options
    @inject IOptions<ECommerceShoppingCartASPNet5.Data.StripeSettings> Stripe*@

@{
    Layout = "_Layoutms";
}

<div class="text-center">
    <form asp-action="Processing" asp-controller="Checkout" method="post">

        <label class="text-info" style="font-family: 'FontAwesome';">Cảm ơn bạn đã đặt hàng và thanh toán</label>
        <br />
        <br />
        <p class="blockquote text-center" style="font-family: 'FontAwesome';">
            Chi tiết giao dịch  <br />
            Khách hàng : @ViewBag.Customer <br /> <br />
            Amount : @ViewBag.AmountPaid.ToString("#,##0.###") VNĐ
        </p>

        @*@if (TempData.Peek("TotalAmount") != null)
            {
                var result = Convert.ToInt64(TempData.Peek("TotalAmount"));
                result /= 100;
                <h3>Amount: @result USD has been processed successfully.</h3>
            }*@
    </form>
</div>

